<style type="text/css">
    .form 
    {
    	padding-top: 60px;
    }
    .pade{
    	padding-right: 20px;
    }
    .padding
    {
    	padding-bottom: 40px;
    }
    .header
    {
    	background-color:#1c1817;
    	color:#dddddd;
    	padding-top: 10px;
    	
    }
    .footer
    {
    	background-image: url('img/bg.png');
    	background-repeat: repeat-x;
    	background-position: bottom;
    	padding-bottom: 200px;
    }
    .main
    {
    	padding: 20px;
    	background: rgba(28,24,23,1);
background: -moz-linear-gradient(top, rgba(28,24,23,1) 0%, rgba(28,24,23,1) 2%, rgba(176,175,175,1) 66%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28,24,23,1)), color-stop(2%, rgba(28,24,23,1)), color-stop(66%, rgba(176,175,175,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(28,24,23,1) 0%, rgba(28,24,23,1) 2%, rgba(176,175,175,1) 66%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(28,24,23,1) 0%, rgba(28,24,23,1) 2%, rgba(176,175,175,1) 66%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(28,24,23,1) 0%, rgba(28,24,23,1) 2%, rgba(176,175,175,1) 66%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(28,24,23,1) 0%, rgba(28,24,23,1) 2%, rgba(176,175,175,1) 66%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1817', endColorstr='#ffffff', GradientType=0 );
    }
    .padd
    {
    	padding: 0px;
    }
    .bayx,.mainx
    {
    	background-color: #1c1817;
    	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    	padding-top: 10px;
    	padding-left: 0px;

    }
    .bay
    {
    	box-shadow: inset 0 15px 12px -12px rgba(0, 0, 0, 0.5);
    	padding-top: 10px;
    	padding-left: 0px;
    }
    .content
    {
    	padding-top: 100px;
    	padding-bottom: 50px;
    }
    .car
    {
    	width: 100%;
    	height: 400px;
    }
    .testimony
    {
    	background-color: #fcfcfc;
    	padding-top: 50px;
    	padding-bottom: 50px;
    }
	.x
	{
		color: #ffffff;
	}
	.sign
	{
		padding-top: 28px;
		background-color: #ddd;
		border-radius: 30px 0px 30px 0px;
		-moz-border-radius: 30px 0px 30px 0px;
		-webkit-border-radius: 30px 0px 30px 0px;
		border: 0px solid #000000;
	}
	.foot
	{
		padding-left: 0px;
	}
    </style>